.locationCard img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}

.locationCard__title {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin-top: -30%;
    padding-left: 10px;
    z-index: 1;
    max-width: 250px;
}

.locationCard {
    margin: 30px 20px 20px 20px;
    transition: transform 0.5s;
    height: 200px;
}

.locationCard:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.locationCard__modal div[role='dialog'] {
    max-width: 1000px !important;
    min-width: 70vw !important;
    overflow: hidden !important;
}

.locationCard__modal img {
    width: 100% !important;
    object-fit: cover !important;
}

.locationCard__modalHeader {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
    margin: 10px !important;
    line-height: 2;
}