.header {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(243, 239, 255);
}

.header>div {
    height: 65px;
    display: flex;
    align-items: center;
}

.header__logo span{
    background: linear-gradient(to right,rgb(83 35 136), rgb(255, 145, 145));
    background-clip: text;
    color: transparent;
    font-size: 40px;
    font-weight: 800;
}

.header__linksContainer {
    display: flex;
    align-items: center;
}
.header__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__links *{
    color: rgb(83 35 136);
}

.header__logoText:hover, .header__links:hover {
    box-shadow: 0 0 0 2pt cornflowerblue;
}

.header__logoText, .header__links {
    padding: 5px;
    border-radius: 5px;
}